:root {
  --accent-subdued: hsl(31, 66%, 93%);
  --accent-base: hsl(39, 100%, 71%);
  --primary-subdued: hsl(254, 88%, 90%);
  --primary-base: hsl(256, 67%, 59%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --off-white: hsl(0, 0%, 96%);

  --fs-reg: 1.25rem;

  --fs-md: 2.25rem;
  --fs-lg: 3rem;
  --fs-xl: 4rem;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
    line-height: 1.4;
  }

  body {
    margin: 32px;
    color: var(--black);
    font-size: var(--fs-reg);
    background: var(--off-white);
  }

  h1,
  h2 {
    color: var(--heading-color, inherit);
    font-size: var(--heading-font-size, var(--fs-md));
    line-height: 1.1;
    text-wrap: balance;

    span {
      display: var(--heading-span-display, inline);
      color: var(--heading-span-foreground, var(--black));
      font-size: var(--heading-span-font-size, inherit);
      font-style: var(--heading-span-style, normal);
    }
  }
}

@layer layout {
  .bento-grid {
    display: grid;
    gap: 24px;
    margin-inline: auto;
    max-inline-size: 1200px;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";

    @media (width > 660px) {
      grid-template-areas:
        "one one"
        "two three"
        "four six"
        "four seven"
        "five eight";
    }

    @media (width > 960px) {
      grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five";
    }
  }

  .bento-grid > * {
    color: var(--bento-card-foreground, var(--black));
    background-color: var(--bento-card-surface, var(--white));
    padding: var(--bento-card-padding, 32px);
    border-radius: var(--bento-card-border-radius, 21px);

    overflow: clip;

    display: grid;
    gap: var(--bento-card-gap, 32px);
    align-content: var(--bento-card-vertical-aligment, start);
    align-items: var(--bento-card-vertical-aligment, start);
    justify-items: var(--bento-card-horizontal-aligment, start);
    text-align: var(--bento-card-horizontal-aligment, start);
  }

  .bento-grid > * img {
    max-width: var(--bento-card-image-width, 100%);
    width: var(--bento-card-image-width, 100%);
    order: var(--bento-card-image-order);
  }

  .bento-grid > :nth-child(1) {
    grid-area: one;
    --heading-font-size: var(--fs-xl);
    --heading-span-foreground: var(--accent-base);
    --bento-card-foreground: var(--white);
    --bento-card-surface: var(--primary-base);
    --bento-card-padding: 48px;
    --bento-card-horizontal-aligment: center;
    --bento-card-image-width: 70%;
    --bento-card-gap: 16px;

    @media (width > 960px) {
      --bento-card-image-width: 45%;
    }
  }

  .bento-grid > :nth-child(2) {
    grid-area: two;
    --bento-card-image-order: -1;

    @media (width > 960px) {
      --bento-card-image-width: 150%;
    }

    /* fixing shadow issue in asset */
    > img {
      border-radius: 100vw;
      filter: drop-shadow(0 0 1rem hsl(0 0% 0% / 0.25));
      /* box-shadow: 0 0 1rem hsl(0 0% 0%); */
    }
  }

  .bento-grid > :nth-child(3) {
    grid-area: three;
    --bento-card-surface: var(--accent-base);

    > img {
      --bento-card-image-width: 75%;
      margin-bottom: -55px;

      @media (width > 960px) {
        --bento-card-image-width: 100%;
        margin-bottom: -125px;
      }
    }
  }

  .bento-grid > :nth-child(4) {
    grid-area: four;
    --bento-card-horizontal-aligment: center;
    --bento-card-surface: var(--primary-subdued);

    @media (width > 960px) {
      --bento-card-image-width: 175%;
      --bento-card-vertical-aligment: center;
      --bento-card-horizontal-aligment: start;
    }
  }

  .bento-grid > :nth-child(5) {
    grid-area: five;
    --bento-card-horizontal-aligment: center;
    --bento-card-foreground: var(--white);
    --bento-card-surface: var(--primary-base);
    --bento-card-image-width: 75%;
    --bento-card-image-order: -1;

    @media (width > 960px) {
      --bento-card-gap: 16px;
      --bento-card-image-width: 100%;
      --bento-card-vertical-aligment: center;
      --bento-card-horizontal-aligment: start;
      grid-template-columns: 1fr 1fr;
    }
  }

  .bento-grid > :nth-child(6) {
    grid-area: six;
    --heading-font-size: var(--fs-xl);
    --heading-span-display: block;
    --heading-span-font-size: var(--fs-reg);

    --bento-card-image-width: 60%;

    @media (width > 960px) {
      --bento-card-image-width: 100%;
    }
  }

  .bento-grid > :nth-child(7) {
    grid-area: seven;
    --heading-span-foreground: var(--primary-base);
    --heading-span-style: italic;

    --bento-card-surface: var(--accent-subdued);
    --bento-card-image-width: 60%;

    @media (width > 960px) {
      --bento-card-image-width: 100%;
      --bento-card-vertical-aligment: center;
    }
  }

  .bento-grid > :nth-child(8) {
    grid-area: eight;
    --bento-card-surface: var(--accent-base);
    --bento-card-image-width: 60%;

    @media (width > 960px) {
      --bento-card-image-width: 105%;
    }
  }
}

@layer utilities {
  .visual-first {
    order: -1;
  }
}
